# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

#### My solutions for Challenge 1: Understanding the data

In [4]:
# Identify the dimensions of the dataset by determining the number of rows and columns it contains.
import pandas as pd

df = pd.read_csv(r'C:/Users/user/Jupyter/IronHack/Work - Python/Week2/Day1/file1.csv')
num_rows, num_cols = df.shape
print(f"Este dataset tiene {num_rows} filas y {num_cols} columnas")

Este dataset tiene 1071 filas y 11 columnas

In [5]:
# Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. 
# You should also provide suggestions for fixing any incorrect data types.

df['ST'] = df['ST'].astype('category')
df['GENDER'] = df['GENDER'].astype('category')
df['Education'] = df['Education'].astype('category')
df['Policy Type'] = df['Policy Type'].astype('category')
df['Vehicle Class'] = df['Vehicle Class'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   category
 2   GENDER                     954 non-null    category
 3   Education                  1071 non-null   category
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   int64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   category
 9   Vehicle Class              1071 non-null   category
 10  Total Claim Amount         1071 non-null   float64
dtypes: category(5), float64(2), int64(1), object(3)
memory usage: 56.7+ KB

Clean the values for ST is required

In [14]:
# Define a mapping dictionary for replacements
state_mapping = {
    'AZ' : 'Arizona',  # Replace 'AZ' with 'Arizona'
    'Cali': 'California',  # Replace 'Cali' with 'California'
    'WA' : 'Washington',  # Replace 'AZ' with 'Arizona'
}

# Replace values in the 'ST' column using the mapping dictionary
df['ST'] = df['ST'].replace(state_mapping)

In [15]:
df[["ST"]].value_counts() # Apllying mapping changes

ST
California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: count, dtype: int64

Clean the values for GENDER is required

In [90]:
# Define a mapping dictionary for replacements
state_mapping = {
    'Male' : 'M',  # Replace 'Male' with 'M'
    'female': 'F',  # Replace 'female' with 'F'
    'Femal' : 'F',  # Replace 'Femal' with 'F'
}

# Replace values in the 'ST' column using the mapping dictionary
df['GENDER'] = df['GENDER'].replace(state_mapping)

In [91]:
df[["GENDER"]].value_counts() # Apllying mapping changes

GENDER
F         502
M         452
Name: count, dtype: int64

In [92]:
# Identify the number of unique values for each column. 
df.nunique()

Customer                     1071
ST                              5
GENDER                          2
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

##### Columns that appear to be categorical:

In [82]:
categorical_columns = ['ST','GENDER','Education','Policy Type','Vehicle Class']

In [102]:
# You should also describe the unique values of each categorical column and the range of values for numerical columns
df[categorical_columns].value_counts()

ST          GENDER  Education             Policy Type     Vehicle Class
California  M       Bachelor              Personal Auto   Four-Door Car    23
                    College               Personal Auto   Four-Door Car    21
            F       High School or Below  Personal Auto   Four-Door Car    19
Oregon      F       High School or Below  Personal Auto   Four-Door Car    18
Arizona     F       High School or Below  Personal Auto   Four-Door Car    18
                                                                           ..
Nevada      F       College               Special Auto    Sports Car        1
                    High School or Below  Corporate Auto  Four-Door Car     1
                                                          Two-Door Car      1
Arizona     F       Bachelor              Corporate Auto  SUV               1
Washington  M       Master                Personal Auto   Two-Door Car      1
Name: count, Length: 310, dtype: int64

In [95]:
# Compute summary statistics: mean, median, mode, st dev, and quartiles for numerical columns.
df.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

##### You should also provide your conclusions for NUMERICAL DATA based on these summary statistics.

###### My insights for NUMERICAL DATA

In [106]:
# Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
df.describe(include="category")

                ST GENDER Education    Policy Type  Vehicle Class
count         1071    954      1071           1071           1071
unique           5      2         6              3              6
top     California      F  Bachelor  Personal Auto  Four-Door Car
freq           331    502       324            780            576

##### You should also provide your conclusions for CATEGORICAL COLUMNS based on these summary statistics.

###### My insights for CATEGORICAL COLUMNS

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

#### My solutions for Challenge 2 - Exercise 1

In [21]:
# Your code here
location_frequencies = df['ST'].value_counts()
# Sort frequencies in ascending order (least common to most common)
sorted_locations = location_frequencies.sort_values()

# Retrieve top 5 least common locations (ascending order)
top_5_least_common = sorted_locations.head(5)

print("Frequencies for location in ascending order")
print(sorted_locations)
print("\n")
print("Top 5 least common locations (ascending order)")
print(top_5_least_common)

Frequencies for location in ascending order
ST
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64


Top 5 least common locations (ascending order)
ST
Nevada         98
Washington    111
Arizona       211
Oregon        320
California    331
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

#### My solutions for Challenge 2 - Exercise 2

In [40]:
# Your code here
policy_types = df["Policy Type"].value_counts() # Apllying mapping changes
most_sold_policy_type = policy_types.idxmax() # Retrieve the policy type with the highest number of policies sold
print(f"The highest type of policy sold is: {most_sold_policy_type}")

The highest type of policy sold is: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

#### My solutions for Challenge 2 - Exercise 3

In [79]:
# Use loc to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
df_policy_income = df[['Policy Type','Income']]
# Filter rows for Personal Auto policies
personal_auto_df = df_policy_income.loc[df['Policy Type'] == 'Personal Auto']

# Filter rows for Corporate Auto policies
corporate_auto_df = df_policy_income.loc[df['Policy Type'] == 'Corporate Auto']

# Calculate the average income for each policy
personal_auto_mean = personal_auto_df["Income"].mean()
corporate_auto_mean = corporate_auto_df["Income"].mean()

# Print the results
print(f"The mean income for Personal Auto Policy is: {personal_auto_mean}")
print(f"The mean income for Corporate Auto Policy is: {corporate_auto_mean}")

The mean income for Personal Auto Policy is: 38180.69871794872
The mean income for Corporate Auto Policy is: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here